html {
    height: 100%;
    width: 100%;
  }
  
body{
    margin: 4;
}
h1{
    color:rgba(14, 170, 181, 0.92);
}

h2{
    color:green
}
h2 {
    font-size: 32px;
}
h4 {
    color:rgba(76, 98, 100, 0.773);
}

h4 {
    font-size: 18px;
}
h3 {
color: rgb(60, 125, 179)
}
h3 {
    font-size: 32px;
}

h5 {
    font-size: 32px;
}

h5 {
    color: goldenrod
}

h6 {
    font-size: 32px; 
}

h6 {
    color: brown
}

  
  td {
              border: 1
              padding: 
            }
            .large-img-
              text-alig
            }
            .large-img 
              width: 10
              height: a
            }


{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    min-height: 100vh;
  
}

.back-to-top{
display: none;
position: fixed;
bottom: 20px;
right: 20px;
background-color: #333;
color: white;
padding: 10px 20px;
border-radius:5px;
text-decoration: none;
}

// JavaScript code to make the button appear when scrolling
window.addEventListener('scroll', function() {
    const scrollPosition = window.pageYOffset;
    const scrollThreshold = 200; // Adjust this value as needed

    if (scrollPosition > scrollThreshold) {
        document.body.classList.add('scrolled');
    } else {
        document.body.classList.remove('scrolled');
    }
});


.back-to-top: :hover {
    background-color: #555;
}
body.scrolled .back-to-top {
    display: block;
}



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background:rgb(3, 139, 155);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.navbar a {
    position: relative;
    font-size: 18px;
    color:#fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}
.navbar a::before {
content: '';
position: absolute;
top: 100%;
left: 0;
width: 0%;
height: 2px;
background: #fff;
transition: .3s;
}

.navbar a:hover::before {
    width: 100%;   
}